<!DOCTYPE html>
<html>
  <head>
    <title>My Cool Website</title>
  </head>
  <body>

    <h2>My Cool Website</h2>
    <p>HELLO WORLD</p>

    <% include ../partials/cleaning %> <!-- How to include other files -->
    <% var supplies =	['mop', 'broom', 'duster']; %>

    <!-- EXAMPLE OF EJS -->
    <ul>
      <% for(var i=0; i<supplies.length; i++) {%>
         <li><%= supplies[i] %></li>
      <% } %>
    </ul>

  </body>
</html>
